<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Blog details</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" type="image/x-icon" href="assets/frontend/img/favicon.png">
    <link rel="stylesheet" href="assets/frontend/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/frontend/css/owl.carousel.min.css">
    <link rel="stylesheet" href="assets/frontend/css/slicknav.css">
    <link rel="stylesheet" href="assets/frontend/css/animate.min.css">
    <link rel="stylesheet" href="assets/frontend/css/magnific-popup.css">
    <link rel="stylesheet" href="assets/frontend/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="assets/frontend/css/themify-icons.css">
    <link rel="stylesheet" href="assets/frontend/css/themify-icons.css">
    <link rel="stylesheet" href="assets/frontend/css/slick.css">
    <link rel="stylesheet" href="assets/frontend/css/nice-select.css">
    <link rel="stylesheet" href="assets/frontend/css/style.css">
    <link rel="stylesheet" href="assets/frontend/css/responsive.css">
</head>
<style>
    .request-back-area .request-content h4 {
        color: white;
    }

    textarea {
        width: 90%;
        height: 60px;
        background: #0000;
        border: 2px solid #184b7e;
        border-radius: 5px;
        padding: 11px 19px;
        color: #88abce;
    }
    .single-slider{
        width: 100%;
        height: 100%;
    }
</style>

<body>


    <div class="slider-area ">
        <div class="single-slider slider-height2 d-flex align-items-center"
        data-background="https://plus.unsplash.com/premium_photo-1669904022334-e40da006a0a3?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OXx8YmxvZyUyMGJhY2tncm91bmR8ZW58MHx8MHx8fDA%3D">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="hero-cap text-center">
                        <h2>Add Your Blog</h2>
                    </div>
                </div>
                <div class="col-xl-8 col-lg-8 col-md-8">
                    <form action="/addblog" method="post" enctype="multipart/form-data">
                            <div class="form-wrapper">
                                <form id="contact-form" action="#" method="POST">
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6">
                                            <div class="form-box  mb-30">
                                                <input type="text" name="title" placeholder="Blog Title">
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6">
                                            <div class="form-box mb-30">
                                                <textarea name="desc" placeholder="Blog description" id=""></textarea>
                                                
                                            </div>
                                        </div>
                                        <div class="col-lg-8 col-md-8 mb-30">
                                            <div class="form-box  mb-30">
                                                <input type="file" name="image" placeholder="Blog image">
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-4">
                                            <button type="submit" class="send-btn">Add blog</button>
                                        </div>
                                    </div>
                                </form>
                                <a href="/viewblog" style="color: rgb(128, 0, 248);">VIEW BLOGS</a>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>


    <script src="./assets/frontend/js/vendor/modernizr-3.5.0.min.js"></script>
    <script src="./assets/frontend/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="./assets/frontend/js/popper.min.js"></script>
    <script src="./assets/frontend/js/bootstrap.min.js"></script>
    <script src="./assets/frontend/js/jquery.slicknav.min.js"></script>
    <script src="./assets/frontend/js/owl.carousel.min.js"></script>
    <script src="./assets/frontend/js/slick.min.js"></script>
    <script src="./assets/frontend/js/wow.min.js"></script>
    <script src="./assets/frontend/js/animated.headline.js"></script>
    <script src="./assets/frontend/js/jquery.scrollUp.min.js"></script>
    <script src="./assets/frontend/js/jquery.nice-select.min.js"></script>
    <script src="./assets/frontend/js/jquery.sticky.js"></script>
    <script src="./assets/frontend/js/jquery.magnific-popup.js"></script>   
    <script src="./assets/frontend/js/contact.js"></script>
    <script src="./assets/frontend/js/jquery.form.js"></script>
    <script src="./assets/frontend/js/jquery.validate.min.js"></script>
    <script src="./assets/frontend/js/mail-script.js"></script>
    <script src="./assets/frontend/js/jquery.ajaxchimp.min.js"></script>
    <script src="./assets/frontend/js/plugins.js"></script>
    <script src="./assets/frontend/js/main.js"></script>

</body>

</html>