<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Blog details</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="assets/frontend/img/favicon.png">
    <link rel="stylesheet" href="assets/frontend/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/frontend/css/owl.carousel.min.css">
    <link rel="stylesheet" href="assets/frontend/css/slicknav.css">
    <link rel="stylesheet" href="assets/frontend/css/animate.min.css">
    <link rel="stylesheet" href="assets/frontend/css/magnific-popup.css">
    <link rel="stylesheet" href="assets/frontend/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="assets/frontend/css/themify-icons.css">
    <link rel="stylesheet" href="assets/frontend/css/themify-icons.css">
    <link rel="stylesheet" href="assets/frontend/css/slick.css">
    <link rel="stylesheet" href="assets/frontend/css/nice-select.css">
    <link rel="stylesheet" href="assets/frontend/css/style.css">
    <link rel="stylesheet" href="assets/frontend/css/responsive.css">
</head>
<style>
    .request-back-area .request-content h4 {
        color: white;
    }

    textarea {
        width: 90%;
        height: 60px;
        background: transparent;
        border: 2px solid #295684;
        border-radius: 5px;
        padding: 11px 19px;
        color: #718eab;
    }
</style>

<body>


    <div class="slider-area ">
        <div class="single-slider slider-height2 d-flex align-items-center"
            data-background="assets/frontend/img/hero/Industries_hero.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="hero-cap text-center">
                            <h2>Edit your Blog</h2>
                        </div>
                    </div>
                    <div class="col-xl-8 col-lg-8 col-md-8">
    
                        <form action="/up" method="post" enctype="multipart/form-data">
                            <div class="form-wrapper">
                                <form id="contact-form" action="#" method="POST">
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6">
                                            <div class="form-box  mb-30">
                                                <input type="hidden" value="<%= single.id%>" name="editid">
                                                <input type="text" name="title" value="<%= single.title%>"
                                                    placeholder="Blog Title">
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6">
                                            <div class="form-box mb-30">
                                                <textarea name="desc" placeholder="Blog description"
                                                    id=""> <%= single.desc %></textarea>
    
                                            </div>
                                        </div>
                                        <div class="col-lg-8 col-md-8 mb-30">
                                            <div class="form-box  mb-30">
                                                <input type="file" name="image" placeholder="Blog image">
                                                <br>
                                                <img class="card-img rounded-0" style="width: 300px;margin-top: 10px;"
                                                    src="<%= single.image%>" alt="">
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-4">
                                            <button type="submit" class="send-btn">Edit blog</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script src="./assets/frontend/js/vendor/modernizr-3.5.0.min.js"></script>
    <script src="./assets/frontend/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="./assets/frontend/js/popper.min.js"></script>
    <script src="./assets/frontend/js/bootstrap.min.js"></script>
    <script src="./assets/frontend/js/jquery.slicknav.min.js"></script>
    <script src="./assets/frontend/js/owl.carousel.min.js"></script>
    <script src="./assets/frontend/js/slick.min.js"></script>
    <script src="./assets/frontend/js/wow.min.js"></script>
    <script src="./assets/frontend/js/animated.headline.js"></script>
    <script src="./assets/frontend/js/jquery.scrollUp.min.js"></script>
    <script src="./assets/frontend/js/jquery.nice-select.min.js"></script>
    <script src="./assets/frontend/js/jquery.sticky.js"></script>
    <script src="./assets/frontend/js/jquery.magnific-popup.js"></script>
    <script src="./assets/frontend/js/contact.js"></script>
    <script src="./assets/frontend/js/jquery.form.js"></script>
    <script src="./assets/frontend/js/jquery.validate.min.js"></script>
    <script src="./assets/frontend/js/mail-script.js"></script>
    <script src="./assets/frontend/js/jquery.ajaxchimp.min.js"></script>
    <script src="./assets/frontend/js/plugins.js"></script>
    <script src="./assets/frontend/js/main.js"></script>

</body>

</html>